$primarycolor: #dc780b;
html {
  color: $primarycolor;
}

.item {
   p {}
   a {}
}

.item {
   color: red;
   &__img {
      width: 100px;
      height: 100px;
   }
   &__title {
      font-size: 33px;
      font-weight: normal;
   }
}

@mixin theme() {
   background: #000;
   color: black;
}

.title {
   @include theme;
   margin-top: 20px;
}

@import "./componets/header"

