extends laout/laout

include mixins/item

block main
    +item("src='assets/imgs/1488399659_0_0_960_960_600x0_80_0_1_e38b72053fffa5d3d7e82d2fe116f0b3.jpeg","сайт хороший <b>нашyyyy</b>")













